<footer class="site-footer">
  <div class="container footer-content">
    <p>© 2026 Luis Leon Pineda. All rights reserved.</p>

    <div class="footer-links">
      <a
        href="https://github.com/Lpluis"
        target="_blank"
        rel="noopener noreferrer"
      >
        GitHub
      </a>

      <a
        href="https://www.linkedin.com/in/luislp1492"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>
    </div>
  </div>
</footer>